.container {
    display: flex;
    width: 100%;
    gap: 4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .column {
    display: flex;
    gap: 5px;
  }
  
  .column > span {
    width: 40px;
    font-size: 20px;
    border-radius: 20px;
    text-align: center;
    height: 30px;
    cursor: pointer;
    border: 1px solid black;
    transition: all 0.3s ease-in-out;
  }

  span:hover{
    background-color: gray;
  }