/* .background_shade{
    display: flex;
    justify-content: center;
    align-items: center;
}

.background_shade>img{
   max-width: 100%;
    height: auto;
    object-fit: cover;
    position: relative;
}
.above-text>button{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40rem;
    font-size: 1.5rem;
    padding: 40px 80px;
    left: 20rem;
} */

.btn-box{
   padding: 20px 40px;
   width: auto;
   align-self:center;
   font-size: 1.5rem;
}

.contain{
    display: flex;
    justify-content: center;
    height: 90vh;
    flex-direction: column;
    background-color:#AAB99A;
}
.contain h2{
    font-size: clamp(1.5rem, 10vw, 4rem);
    margin-left: 1rem;
}
.contain p{
    font-size: clamp(1rem , 10vw, 2rem);
    margin-left:1rem;
}